mynam3isg00d/d02/d02.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"d02","disabled":false,"info":""},{"id":"8f5308cecf6adda6","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://adventofcode.com/2022/day/2/input","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"cookie","valueType":"other","valueValue":"session=53616c7465645f5faa0ff3822ffacaaaf390f225bbc7294986ec210e4e2fd897425f1248700f75e26d63f3ed1f3cec9d9794d5ec57c0a6a2555c13f4623c0817; _ga=GA1.2.1816729364.1669899048; _gid=GA1.2.965087439.1669899048"}],"credentials":{},"x":290,"y":300,"wires":[["5cce1d4859b0496a","3fa576cc27b6e6c1"]]},{"id":"4cfface3e0a03e55","type":"inject","z":"f6f2187d.f17ca8","name":"Activate","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":300,"wires":[["8f5308cecf6adda6"]]},{"id":"5cce1d4859b0496a","type":"function","z":"f6f2187d.f17ca8","name":"Part 1","func":"let input = msg.payload\n\nlet tot = input.replaceAll(\"A X\", \"4\")\n        .replaceAll(\"A Y\", \"8\")\n        .replaceAll(\"A Z\", \"3\")\n        .replaceAll(\"B X\", \"1\")\n        .replaceAll(\"B Y\", \"5\") \n        .replaceAll(\"B Z\", \"9\")\n        .replaceAll(\"C X\", \"7\")\n        .replaceAll(\"C Y\", \"2\")\n        .replaceAll(\"C Z\", \"6\")\n        .split(\"\\n\").map(Number).reduce((a,b) => a+b)\n\nmsg.payload = \"Part 1: \" + tot\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":200,"wires":[["0b5544bca90f5d5e"]]},{"id":"3fa576cc27b6e6c1","type":"function","z":"f6f2187d.f17ca8","name":"Part 2","func":"let input = msg.payload\n\nlet tot = input.replaceAll(\"A X\", \"3\")\n        .replaceAll(\"A Y\", \"4\")\n        .replaceAll(\"A Z\", \"8\")\n        .replaceAll(\"B X\", \"1\")\n        .replaceAll(\"B Y\", \"5\")\n        .replaceAll(\"B Z\", \"9\")\n        .replaceAll(\"C X\", \"2\")\n        .replaceAll(\"C Y\", \"6\")\n        .replaceAll(\"C Z\", \"7\")\n        .split(\"\\n\").map(Number).reduce((a,b) => a+b)\n    \nmsg.payload = \"Part 2: \" + tot\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":400,"wires":[["0b5544bca90f5d5e"]]},{"id":"0b5544bca90f5d5e","type":"debug","z":"f6f2187d.f17ca8","name":"Out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"9a90ee7e7f5433fa","type":"comment","z":"f6f2187d.f17ca8","name":"Welcome","info":"In order to use your own input, simply change \nthe cookie in the \"http request\" node headers to your own!","x":100,"y":140,"wires":[]}]